.custom-label{
    display: flex;
    align-items: center;
    gap: 12px;
    cursor: pointer;

}
.custom-label p{
    font-size: 16px;
}
.custom-checkbox{
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
}
.custom-style{
    width: 16px;
    height: 16px;
    border: 2px solid #EAEAEA;
    border-radius: 2px;
}
.custom-checkbox:checked + .custom-style::before{
    content: '';
    width: 16px;
    height: 16px;
    background-color: var(--color-black);
    position: absolute;
    border-radius: 2px;
    margin: -2px 0 0 -2px;
}
.custom-checkbox:checked + .custom-style::after{
    content: '';
    width: 10px;
    height: 10px;
    background: url('../../images/icons/Shape.svg');
    position: absolute;
    margin-left: 1px;
}