.swiper{
    width: 100%;
    /* padding:160px 0 120px */
}
.swiper-slide{
    height: 680px;
}
.slide__first,
.slide__second{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 680px;
    padding-top: 150px;
}

.slide__first{
    background: url('../../images/slider-bg1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.slide__second{
    background: url('../../images/slider-bg2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.slide__body-title{
    font-family: "Paprika", system-ui;
    font-weight: 600;
    font-size: 110px;
    line-height: 144px;
    margin-bottom: 16px;
    letter-spacing: 0.1em;
}
.slide__body-text{
    text-align: center;
    margin-bottom: 64px;
    width: 612px;    
}
.slide__body-button{
    padding: 16px;
    color: var(--color-white);
    background-color: var(--color-black-text);
    border-radius: 6px;
    font-weight: 700;
    font-size: 18px;
    width: 294px;
}
.swiper-button-prev,
.swiper-button-next{
    color: #000000;
}
.swiper-pagination-fraction, .swiper-pagination-custom, .swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal{
    bottom: 0;
}
.swiper-pagination-bullet{
    background: rgb(37, 44, 50, 0.85);
    opacity: 1;
}
.swiper-pagination-bullet-active{
    background: transparent;
    border: 1px solid rgb(37, 44, 50, 0.85);
}
