.card{
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 294px;
    cursor: pointer;
    &__top{
        position: relative;
        height: 294px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    &__options{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 12px;
        position: relative;
        z-index: 1;
    }
    &__list{
        display: flex;
        gap: 4px;
    }
    &__item{
        background-color: var(--color-white);
        border-radius: 9px;
        font-size: 10px;
        line-height: 22px;
        color: #767677;
        padding: 4px 8px;
    }
    &__img{
        position: absolute;
        top: 0;
    }
    &__price{
        position: relative;
        z-index: 1;
        background-color: #000000;
        padding: 8px;
        color: var(--color-white);
        font-size: 18px;
        width: 89px;
        font-weight: 600;
        text-align: center;
    }
    &__bottom{
        display: flex;
        flex-direction: column;
        gap: 8px;
    }
    &__feedback{
        display: flex;
        align-items: center;
        gap: 8px;
    }
    &__bottom-name{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__name{
        font-weight: 500;
        font-size: 24px;
        color: #000000;
    }
    &__colors{
        color: #767677;
    }

    &__heart,
    &__cart{
        cursor: pointer;
    }
}

